<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Katharsis</title>
    <link rel="stylesheet" href="../static/Styles.css">
    <link rel="scripts" href="../static/app.js">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <a href="#" class="logo">
            <img src="https://i.ibb.co/6cnNqvT5/Logo-para-pagina-2.png" style="height: 135%; max-height: 150px;">
        </a>
        <nav class="nav-links"> 
            <a href="/joyas">Joyas</a>
            <a href="/piercings">Piercings</a>
            <a href="/servicios">Servicios</a>
            <a href="/contacto">Contacto</a>
        </nav>
    </header>

    <section class="hero">
        <div class="hero-content">
            <h1>Bienvenidos a Katharsis</h1>
            <p>En Katharsis, creemos que el body art debe ser seguro y accesible. Por eso todas nuestras joyas son de Titanio grado Implante hipoalergénico. ¡Porque tu estilo no debe comprometer tu salud!</p>
            <div class="cta-buttons">
                <a href="/joyas" class="btn btn-primary">Ver Catálogo</a>
                <a href="/servicios/asesoramiento" class="btn btn-secondary">¿Necesitas ayuda? Reserva tu Asesoría</a>
            </div>
        </div>
    </section>

    <section>
            <div class="carousel-section" style="display: flex; align-items: center; gap: 2rem;">
                <div class="carousel-text" style="flex: 1;">
                    <h2>Galería de Trabajos</h2>
                    <p>Explora algunos de nuestros piercings y trabajos recientes. Cada imagen muestra la dedicación y profesionalismo de nuestro equipo. ¡Inspírate para tu próxima visita!</p>
                </div>
                <div class="carousel-container" style="flex: 2;">
                    <div class="carousel-slide">
                        <div class="slide"><img src="https://i.ibb.co/Wpjt222h/fresh-eyebrow-piercing-any-advice-d-v0-b3ewvapzzvjb1-Photoroom.png" alt="Imagen 1"></div>
                        <div class="slide"><img src="https://i.ibb.co/XxXTmNV4/IMG-9518.jpg" alt="Imagen 2"></div>
                        <div class="slide"><img src="https://i.ibb.co/ksxGbnJH/72-F7885-C-CC17-459-A-B832-A042-A071532-B.jpg" alt="Imagen 3"></div>
                        <div class="slide"><img src="https://i.ibb.co/RkWJZy5t/E868-E60-E-FB83-434-B-910-C-AD0125099-DC5.jpg" alt="Imagen 4"></div>
                        <div class="slide"><img src="https://i.ibb.co/FkNgY6tr/IMG-4603.jpg" alt="Imagen 5"></div>
                    </div>
                    <button class="carousel-btn prev-btn">&#10094;</button>
                    <button class="carousel-btn next-btn">&#10095;</button>
                </div>
            </div>

            <script src="../static/app.js"></script>
    </section>

    <section class="features">
        <div class="features-grid">
            <article class="feature-card">
                <i class="fas fa-certificate"></i>
                <h3>Materiales Premium</h3>
                <p>Titanio Grado Implante hipoalergénico</p>
            </article>
            <article class="feature-card">
                <i class="fas fa-user-md"></i>
                <h3>Asesoramiento</h3>
                <p>Expertos a su disposición para resolver sus dudas y problemas</p>
            </article>
            <article class="feature-card">
                <i class="fas fa-shield-alt"></i>
                <h3>Máxima Higiene</h3>
                <p>Protocolos sanitarios certificados internacionalmente</p>
            </article>
        </div>
    </section>

    <section class="quick-links">
        <p class="subheading">Descubre nuestros servicios</p>
        <div class="links-grid">
            <a href="/servicios" class="link-card">
                <img src="https://i.ibb.co/JjSrJKWd/APC-0212.jpg" alt="Servicios">
            </a>
            <a href="/piercings" class="link-card">
                <img src="https://i.ibb.co/JjSrJKWd/APC-0212.jpg" alt="Servicios">
            </a>
            <a href="/servicios" class="link-card">
                <img src="https://i.ibb.co/JjSrJKWd/APC-0212.jpg" alt="Servicios">
            </a>
        </div>
    </section>

    <footer>
        <div class="footer-content">
            <p>&copy; 2025 Katharsis. Todos los derechos reservados.</p>
            <div class="social-media">
                <a href="https://www.facebook.com/profile.php?id=61561851513269"><i class="fab fa-facebook-f"></i></a>
                <a href="https://www.instagram.com/your.katharsis/"><i class="fab fa-instagram"></i></a>
                <a href="https://wa.link/t83k6w"><i class="fab fa-whatsapp"></i></a>
            </div>
        </div>
</body>
</html>